@media  screen and (max-width:600px) {
    nav ul{
        flex-direction: column;
        display: none;

    }
    #home{
        margin: 4px;
        flex-direction: column;
        flex-wrap: wrap;
        
    }
    .profile__text{
        width:80vw;
    }
    .profile__text p{
        font-size: small;
    }
    .profile__text h1{
        font-size: 60px;
    }
    .profile__img img{
        display: flex;
        align-items: center;
        justify-content: center;;
    }
}

@media screen and (max-width:1200px){
    #home {
            margin: 4px;
            flex-direction: column;
            flex-wrap: wrap;
    
        }
}