@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,500;1,600&display=swap');
*{
    margin:0;
    font-family: 'Poppins', sans-serif;
    
}
body{
   
    color: white;
    margin-top: 1rem;
    
    background-color: #2234ae;
    /* height:100vh; */
    background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
   
}
nav{
    position: sticky;
    z-index: 0;
    display: flex;
    padding: 2rem;
    margin: 1rem;
    background-color: rgba(34, 34, 34, 0.3);
    border-radius: 1rem;
    justify-content: space-between;
    
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 2rem;
    justify-content: space-between;

    
    
}

nav ul li:hover{
    background: rgba(74, 74, 74, 0.4);
    
    
}
nav ul li{
    padding: 5px;
    border-radius: 1rem;
    text-align: center;
    width: 8rem;
    
    
}
nav ul li a{
    text-decoration: none;
    color: white;
}

.btn-connect{
    background: rgba(104, 121, 197, 0.5);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 3rem;
    width: 6rem;
    
}
.btn-connect:hover{
    background: #0c68f2;
}

#home{
    margin: 3rem;
    padding: 2rem;
    background: rgba(128, 128, 128, 0.24);
    border-radius: 1rem;
    display: flex;
    
    
}
.line{
    border: gray 2px solid;
}
.profile__text{
    width: 30vw;
    text-align: justify;
    margin-top: 30px;
}
.profile__text p{
    font-size: small;
}
.profile__text h1{
    color: rgb(102, 102, 194);
    
}
.profile__detail{
    display: flex;
    flex-direction: col;
    gap: 2rem;
    
}
.profile__img img{
    height: 300px;
    width: 300px;
}