
nav ul{
    list-style-type: none;
    display: flex;
    
    gap: 2rem;
    justify-content: space-between;
    
}
@media screen and (width:1200px) {
    nav ul{
        flex-direction: column;
    }
}
nav ul li:hover{
    background: gray;
    
}
nav ul li{
    padding: 1rem;
    background: rgb(206, 206, 206);
    border-radius: 1rem;
    width: 5rem;
    text-align: center;
}

